---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">王浩的</span>
    <span class="gpt-subtitle">智能聊天助手</span>
  </div>
  <p mt-1 op-60>基于chatGPT的智能AI</p>
</header>
